* {
    margin: 0;
    padding: 0
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#box {
    width: 640px;
    height: 960px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -320px;
    -webkit-transform-origin: top;
    transform-origin: top;
}
#list {
    height: 100%
}
#list li {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
#list li.zIndex {
    z-index: 10;
}
#list li:nth-child(1) {
    background-image: url(../img/begin.png);
}
#list li:nth-child(2) {
    background-image: url(../img/3.png);
}
#list li:nth-child(3) {
    background-image: url(../img/2.png);
}
#list li:nth-child(4) {
    background-image: url(../img/4.png);
}
.a1 p {
    width: 100%;
    height: 100%;
    position: absolute;
}
.a1 p:nth-child(1) {
    background: url(../img/first1.png) -100px;
}
.a1 p:nth-child(2) {
    background: url(../img/first2.png);
}
.a1 p:nth-child(3) {
    background: url(../img/first3.png) ;
}
.a1 p:nth-child(4) {
    width: 350px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    font-weight: 900;
    left: 15%;
    bottom: 30%;

}
.a1 p:nth-child(5) {
    width: 350px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    font-weight: 900;
    right: 10%;
    bottom: 20%;
}
.a1 #img1{
    position: absolute;
    top: 15%;
    left: 27%;


}
#a1 p:nth-child(1){
    background: url(../img/first1.png) no-repeat;
}
#a1 p{
    -webkit-transition: 1s;
    transition: 1s;
}
.a2 h2 {
    width: 65px;
    font-size: 60px;
    position: absolute;
    margin-left: 12%;
    margin-top: 5%;
}
.a2 p{
    position: absolute;
    font-size: 40px;
    text-align: left;
    width: 300px;
    height: 70px;
    line-height: 70px;
    left: 30%;
}
.a2 p:nth-of-type(1) {
    top: 3%;
}
.a2 p:nth-of-type(2) {
    width: 500px;
    top:9%;
}
.a2 p:nth-of-type(3) {
    top: 15%;
}
.a2 p:nth-of-type(4) {
    top: 21%;
}
.a2 p:nth-of-type(5) {
    top: 27%;
}
.a2 p:nth-of-type(6) {
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -45px;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    background:#ff4366 ;
}
.a2 p:nth-of-type(7) {
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -45px;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    background: #c8c7a9;
}
.a2 p:nth-of-type(8) {
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -45px;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    background: #f9ccad;
}
.a2 p:nth-of-type(9) {
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -45px;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    background: #84af9b;
}
.a2 p:nth-of-type(10) {
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -45px;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    background: #fd9b98;
}
#a2 p:nth-child(7) {
    left: 50%;
    top: 48%
}
#a2 p:nth-child(8) {
    left: 25%;
    top: 58%
}
#a2 p:nth-child(9) {
    left: 74%;
    top: 58%
}
#a2 p:nth-child(10) {
    left: 38%;
    top: 70%
}
#a2 p:nth-child(11) {
    left: 62%;
    top: 70%
}
#a2 p{
    -webkit-transition: 1s;
    transition: 1s;
}
.a3 h2 {
    margin-top: 8%;
    margin-left: 13%;
    font-size: 46px;

}
.a3 p {
    width: 0;
    height: 0;
    display: inline-block;
    font-size: 30px;
    margin-top: 13%;
    margin-left: 15%;
}
.a3 p:nth-child(1) {
    margin-top: 10%;
}
.a3 img:nth-child(2) {
    float: right;
    margin-right: 20%;
    margin-top: 12%;
}
.a3 img:nth-child(3) {
    position: absolute;
    float: left;
    margin-left: -42%;
    margin-top: 45%;
}
.a3 p:nth-child(4) {
    margin-left: 42%;
}
.a3 img:nth-child(6) {
    float: right;
    margin-right: 23%;
    margin-top: 10%;
}
.a3 img:nth-child(7) {
    position: absolute;
    float: left;
    margin-left: -39%;
    margin-top:39%;
}
.a3 p:nth-child(8) {
    margin-left: 44%;
}
#a3 p:nth-child(1) {
    width: 300px;
    height: 50px;
}
#a3 p:nth-child(4) {
    width: 300px;
    height: 50px;

}
#a3 p:nth-child(5) {
    width: 300px;
    height: 50px;
}
#a3 p:nth-child(8) {
    width: 300px;
    height: 50px;

}
#a3 p {
    -webkit-transition: 1s;
    transition: 1s;

}
.a4 h2 {
    position: absolute;
    font-weight: bold;
    font-size: 50px;
    height: 80px;
    line-height: 80px;
    margin: 30% 14%;
}
.a4 #img2{
    position: absolute;
    top: 35%;
    left: 27%;
}
#a4 #img2{
    transform: rotateY(720deg);
    -webkit-transform: rotateY(720deg);
    transition: 0.5s;
    -webkit-transition: 0.5s;
}







































































